body {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}






.menu {
    width: 100%;
    background-color: #B2101F;
    padding: 2px;
    display: flex;

}

.logo:hover {
    transition: transform 0.5s ease;
}

.logo:hover {
    transform: scale(1.3);
}

.logo img {
    width: 100%;
    max-width: 150px;
}



.rodape {
    width: 100%;
    /* height: 130px; */
    background-color: #B2101F;
    color: #FFF;
    font-family: Inter;
    font-size: 0.8em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-top: 30px;
    position: absolute;
}



.menu_a {
    padding-top: 30px;
    text-align: right;
    margin-left: 1400px;
    margin: 3px auto;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    position: relative;

}

a {
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
}

a:hover {
    font-weight: bold;
}

/* nav e rodape acima ===================================*/
.banner_agencia {
    position: relative;
    /* margin-left: 907px; */

}

/*inicio do main edição =================================*/

h1 {
    color: #000;
    font-family: Inter;
    font-size: 2em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* margin-left: 10px; */
    padding: 1%;

}

.texto_agencia {
    text-align: center;
    font-weight: bold;

}

.texto_agencia2 {
    margin-left: 139px;
    font-weight: bold;

}


.cards {

    position: relative;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-direction: row-reverse;
    flex-wrap: wrap;

}

.card {
    width: 60%;
    /* height: 437px; */
    flex-shrink: 0;
    background-color: #B2101F;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    color: #FFF;
    padding: 30px;
    max-width: 400px;
}

.img_edit {
    width: 70%;
    /* height: 227px; */
    flex-shrink: 0;
    overflow: hidden;
}

.img_edit img {
    transition: transform 0.5s ease;
}

.img_edit:hover {
    transform: scale(1.3);
}


/*edição dos botoes */
.btn1 {
    width: 207px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #000000;
    color: #000000;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.btn1:hover {
    background-color: #65212A;
    color: white;
    font-weight: bold;
}


.btn2 {
    border-radius: 10px;
    background: #65212A;
    width: 374px;
    height: 76px;
    color: #FFF;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.btn2:hover {
    background-color: #B2101F;
    font-weight: bold;
}

.btn {
    display: flex;
    position: relative;
    justify-content: center;
    margin: 30px;

}

/*=====================================================================*/



/*==================== agencias===========================*/
.tablee {
    /* background-color: wheat;  */
    padding: 2%;

}

table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 5px;

}

td {
    padding: 12px;
    border-radius: 10px 10px 10px 10px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn_agencia_table {
    width: 190px;
    height: 28px;
    flex-shrink: 0;
    background: white;
    color: black;
    border-radius: 10px;

}

.btn_agencia_table:hover {
    background-color: #580908;
    color: white;
    font-weight: bold;
}



.container {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 300px;
}

.box1 {
    background-color: #65212A;
    width: 974px;
    height: 72px;
    border-radius: 10px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.box2 {
    background-color: #B2101F;
    width: 974px;
    height: 72px;
    border-radius: 10px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn3_pagina_agencias1 {
    color: #FFF;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #B2101F;
    width: 218px;
    height: 28px;
    flex-shrink: 0;
    margin-left: 700px;
}

.btn3_pagina_agencias2 {
    color: #FFF;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #65212A;
    width: 218px;
    height: 28px;
    flex-shrink: 0;
    margin-left: 700px;
}

.box1 {
    background-color: #65212A;
    /* width: 974px;
    height: 72px; */
    border-radius: 10px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.box2 {
    background-color: #B2101F;
    width: 974px;
    height: 72px;
    border-radius: 10px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn3_pagina_agencias1 {
    color: #FFF;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #B2101F;
    /* width: 218px;
    height: 28px;
    flex-shrink: 0;
    margin-left: 700px;*/
}

.btn3_pagina_agencias2 {
    color: #FFF;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #65212A;
    /* width: 218px;
    height: 28px;
    flex-shrink: 0;
    margin-left: 700px; */
}

/* table {

    font-family: inter;
    border-collapse: collapse;
   
    background-color: #65212A;
    width: 400px;
   
    margin-bottom: 30px;
}

td,
th {
  
    text-align: center;
    padding: 8px;



}



.tablee {
    width: 100%;
}
 */


tr:nth-child(even) {
    background-color: #B2101F;

}

tr:nth-child(odd) {
    background-color: #580908;

}



/*====================================================================*/
/*=======================planos=========================================*/


.texto_planos {
    color: #ffffff;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    font-weight: bold;
}

.container2 {
     display: flex;
     
     flex-direction: column;
  
    width: 100%;
    /* height: 900px; */
    margin: 0 auto;
 /* padding: 10%; */
/* max-width: 1000px; */
    margin-bottom: 50px;

}

.plano_card {
   
    width: 100%;
    border-radius: 10px;
    background: #65212A;
    color: #FFF;
    font-family: Inter;
    font-size: 19px;
    padding: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    max-width: 88%;
    margin: 10px;
    text-align: justify;
}





.cards {
    
    justify-content: center;
    align-content: flex-start;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}








/* sobre pagina ==============================*/

.espaço_texto {
   /*    margin: 50px -0px 220px 460px; */
    background-color: #65212A;
    /* max-width: 2950px; */
    text-align: justify;
    /* display: flex; */
    padding: 30px;
    /* width: 100%; */
    border-radius: 10px;
    /* height: 204px; */
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: -0.62px;
    margin: 2%;
    font-size: 1em;
}

.destaque1 {
    /* margin-bottom: 10px;
  padding: 10px;
  display: block; */
    background-color: #B2101F;
    color: #FFF;
    height: 123px;
    align-content: center;
  


}

#destaqueP {
    font-family: Inter;
    font-size: 2.3em;
    font-style: normal;
    font-weight: 400;
    /* line-height: normal; */
    text-align: center;
    padding: 43px;
}

@media (min-width:690px) {
   
.container2 {
     display: flex; 
     flex-wrap: nowrap;
     flex-direction: row;
}    
    
}

@media (min-width:790px) {
       
     .cards{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        position: relative;
 
     }   
    }

    

 @media (min-width: 1400px) {
    .conteudo {
        width: 1200px;
        margin: 0 auto;
    }

    .nav {
        max-width: 1980px;
        margin: 0 auto;
    }

}  


@media (max-width: 480px){
    main {
pointer-events: none;

    }
}
@media (min-width: 500px){
    main {
pointer-events: auto;

    }
}